body{
    font-family: 'Roboto', sans-serif;
}
:root{
    --primary-color:#006064;
    --seconday-color:#A5D6A7;
    --3th-color:#CFD8DC;
    --4th-color:#0097A7;
    --5th-color:#26A69A;
    --small-font:0.75rem;
    --medium-font:1.3rem;
    --larg-font:2.5rem;
}
.container--main{
    width: 80vw;
    height: 97.5vh;
    margin: auto;
    border: 0px dashed var(--primary-color);
    display: grid;
    grid-template: 27vh 70.5vh/80vw;
    grid-template-areas: "header__main"
                          "pric";
    box-shadow: 0 0 1 var(--3th-color);
    /*background: linear-gradient(45deg, #F5F5F5, #FAFAFA);*/

}
h1{
    color: var(--primary-color);
    font-weight: 900;
    font-size: var(--larg-font);
}
p{
    color: var( --primary-color);
}
.p--choose{
    color: var(--3th-color);
}
.h1--p--switch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0vh 5vw;

}

#formControlRange{
    width:70vw;
    margin: 4vh 5vw;
    border-radius: 8px;
    outline: none;
    -webkit-appearance: none;


}
input[type='renge']::-webkit-slider-thumb{
    width: 12px;
    -webkit-appearance: none;
    height: 12px;
    background: green;
    border-radius: 100%;
}


.pric{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.box{

    grid-area: pric;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 16vw;
    height: 65vh;
    border: 0px solid ;
    border-radius: 15px;
    margin: 0 1rem;
    padding: 0 1.5rem;

}
.box--choose{
    background-color: var(--4th-color);
}
.box--nochoose{
    background-color: white;
}
button{
    width: 15vw;
    height: 6vh;
    background-color: var(--seconday-color);
    border-radius: 5px;
    margin-top: 3vh;
    align-items: center;
    border: 0.1rem solid var(--primary-color) ;
    color: var(--primary-color);
    font-weight: bold;

}
.no--button{
    background-color: white;
}
.box:focus{
    box-shadow: 0 0 20px #80CBC4;
}
button:hover{
    background-color:var(--4th-color);
    color: var(--3th-color);
    cursor: pointer;
}

.div--ico--p{
    display: flex;
    align-items: center;
    line-height: 0.5rem
}
ion-icon{
    margin-right: 0.5vw;
    color: var(--3th-color);
}
strong{
    font-size: 40px;
}
h4{
    font-weight: 400;
    color: var(--primary-color);
}
h3{
    color: var(--primary-color);
}
.h3--choose{
    color: var(--3th-color);;
}

.switch-button {
    background: white;
    box-shadow: 0 0 15px #ECEFF1;
    border-radius: 30px;
    overflow: hidden;
    width: 8vw;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
    padding-right: 120px;
    position: relative;

}

.switch-button:before {
    content: "Yearly";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
    color: var(--3th-color)
}


.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(120px);
    transition: transform 300ms linear;

}

.switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 15px 0;
    display: block;
    user-select: none;
    pointer-events: none;
}

.switch-button-label:before {
    content: "";
    background: var(--4th-color);
    height: 100%;
    width: 8vw;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;


}

.switch-button-label-span {
    position: relative;
    color: var(--3th-color);
}